<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/client-catalogue.css" rel="stylesheet">
  </head>
  <body>
          <div class="row main-row">
              <div class="col-sm-2 main-left-col">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <li id="profile_label">CLIENT</li>
                        <li id="disconnect"><a href=<%= url %>/logout class="menu-link">Deconnexion</a></li>
                        <li><a href="#" class="menu-link top-list">Catalogue des produits</a></li>
                        <li><a href=<%= url %>/myCommand class="menu-link">Mes commandes</a></li>
                        <li id="archive"><a href="#" class="menu-link inactiveLink">commandes archivées</a></li>
                    </ul>
                </nav>
              </div>
              <div class="col-sm-10 main-right-col">
                  <div class="row top-right-row">
                      <span class="span-center col-sm-10">Catalogue produit</span>
                      <div class="col-sm-1" id="panier">
                          <span class="glyphicon glyphicon-shopping-cart">Panier</span>
                      </div>  
                  </div>
                  <div class="row main-right-row" id="scroll-container"></div>
                </div>
            </div>
            <div class="modal fade custom-modal" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content custom-modal-content" id="myModalContent">
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>
            <div class="modal fade custom-modal" id="modalPanier" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content custom-modal-content" id="modalPanierContent">
                        <div class="modal-body-panier"></div>
                    </div>
                </div>
            </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../../bootstrap/js/bootstrap.min.js"></script>
        <script src="../../build/bundles/clientCatalogueBundle.js"></script>
    </body>
</html>