html, body, .container, .main-row, .main-left-col, .main-right-col {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.main-row {
    margin-left: 1px;
    margin-right: 1px;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.title {
    text-align: center;
    color: #1A2930;
    height: 40px;
    padding-top: 5px;
}

.main-left-col {
    border: 1px solid #0A1612;
    background-color: #1A2930;
    color: black;
}

.nav-sidebar {
    left: 0px;
    right: 0px;
    position: absolute;
}

.menu-link {
    color: white;
    border-bottom: 1px solid #0A1612;
}

.top-list {
    border-top: 1px solid #0A1612;
}

.top-right-row {
    background-color: #F7CE3E;
    height: 15%;
    border-top: 1px solid #0A1612;
    border-right: 1px solid #0A1612;
    font-size: 150%;
    color: white;
    padding-left: 8%;
    padding-top: 2.5%;
}

.main-right-row {
    background: #D9D9D9;
    height: 85%;
    border-top: 1px solid #0A1612;
    border-right: 1px solid #0A1612;
    overflow-y: auto;
}

.card {
    background-color: #1A2930;
    border: 1px solid #0A1612;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    color: white;
    cursor: pointer;
}

.glyphicon-chevron-down {
    float : right;
}

#myModal {
    top : 20%;
    left : 16%;
}

#myModalContent {
    background-color: #F7CE3E;
    color: white;
    padding: 5px;
}

#profile_label {
    height: 250px;
    padding-top: 110px;
    text-align: center;
    border-bottom: 1px solid #0A1612;
    background: url(../fonts/back_profile.png) no-repeat;
    background-size: cover;
    background-position-x: 50%;
    font-style: italic;
    font-size: 150%;
}

#disconnect {
    margin-bottom: 20px;
}

.vignette {
    float: right;
    background: red;
}